.app {
    width: 100%;
    height: 100%;
    font-family: 'Bebas Neue';
}

.header {
    background-color: #B10606;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 100px;
    top: 0;
    left: 0;
    position: fixed;
}

.title {
    display: flex;
    height: 100%;
    width: 50%;
    /* align-items: center; */
    justify-content: center;
}

.name {
    font-size: 60px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.options {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    /* font-size: px; */
}

.options-title {
    font-size: 25px;
    background-color: #B10606;
    /* opacity: .25%; */
}

.body {
    width: 100%;
    height: 100%;
    top: 100px;
    position: fixed;
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: #060529;
    opacity: 80%;
    width: 250px;
    min-width: 250px;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.sidebar1 {
    background-color: #060529;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.label {
    color: white !important;
    /* width: 100%; */
}

.b {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue';
}

.form-field {
    margin: 10px;
}

.button {
    background-color: #B10606;
    color: white;
    border-radius: 30px;
    font-size: 25px;
    width: 50%;
    padding: 1px;
}

.top-menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.above-menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.menu-title {
    color: white;
}

.main {
    color: #060529;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.form {
    background-color: #060529;
}

.menu-title-g {
    color: #060529;
    width: 50%;
    display: flex;
    font-size: 40px;
    align-items: center;
    height: 100%;
    padding-left: 10px;
}

.toggle {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.label-toggle {
    color: #060529 !important;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 40px;
}

.main-header {
    display: flex;
    flex-direction: row;
    /* height: 20px; */
    color: #060529;
    /* background-color: #060529; */
}

.graph {
    width: 100%;
    overflow: scroll;
}

.expansion {
    background-color: #060529;
    color: white;
}

.chart {
    width: 100%;
    overflow: scroll;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grafico{
    padding: 10px;
}

.demo-chart {
    height: 500px;
    padding: 100px;
}

::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
    background-color: white !important;
}

::ng-deep .mat-select-arrow {
    color: white;
}

::ng-deep .mat-select-value-text {
    color: white;
}

:host /deep/ .mat-slide-toggle .mat-slide-toggle-bar {
    background-color: #060529;
}

:host /deep/ .mat-slide-toggle .mat-slide-toggle-thumb {
    background-color: #B10606;
}

/* width */

::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 8px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #B10606;
    border-radius: 8px;
}