.app {
    width: 100%;
    height: 100%;
    font-family: 'Bebas Neue';
}

.header {
    background-color: #B10606;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
    height: 100px;
    top: 0;
    left: 0;
}

.title {
    display: flex;
    height: 100%;
    width: 25%;
}

.name {
    font-size: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.options-title {
    font-size: 25px;
    background-color: #B10606;
}

.typeSelected {
    font-size: 25px;
    background-color: #B10606;
    color: white;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid #ffffff;
}

.typeUnSelected {
    font-size: 25px;
    background-color: #B10606;
    color: white;
}

.body {
    width: 100%;
    height: calc(100% - 100px);
    max-height: calc(100vh - 100px);
    top: 100px;
    position: fixed;
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: #060529;
    opacity: 80%;
    width: 250px;
    min-width: 250px;
    height: 100%;
    max-height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.top-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45%;
    width: 100%;
}

.above-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    width: 100%;
    overflow: auto;
}

.label {
    color: white !important;
}

.form-field {
    margin: 10px;
}

.button {
    background-color: #B10606;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    width: 50%;
}

.div-form {
    display: flex;
    justify-content: center;
}

.div-button {
    display: flex;
    justify-content: center;
}

.menu-title {
    color: white;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    padding: 0%;
}

.main {
    color: #060529;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form {
    background-color: #060529;
}

.menu-title-g {
    color: #060529;
    width: 70%;
    display: flex;
    font-size: 40px;
    align-items: center;
    height: 50px;
    padding-left: 10px;
}

.toggle {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.label-toggle {
    color: #060529 !important;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 40px;
}

.main-header {
    display: flex;
    flex-direction: row;
    height: 40px;
    color: #060529;
}

.graph {
    width: 100%;
    overflow: scroll;
    /* height: 1000px; */
    /* background-color: #060529; */
}

.expansion {
    background-color: #060529;
    color: white;
}

.chart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.charts {
    width: 80%;
    overflow: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
}
    
.chart ::-webkit-scrollbar {
    display: none;
}

.grafico {
    width: 100%;
    display: flex;
    justify-content: center;
}

.titulo{
    font-size: 50px;
}
.demo-chart {
    height: 1000px;
    /* padding: 100px; */
}

.single-chart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}

.chart-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #060529;
}

.chart-filters {
    width: 20%;
    height: 80%;
    color: #060529;
    flex-wrap: wrap;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: large;
}

.filtros {
    font-size: 35px;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
}

.delete-img {
    width: 30px;
    height: 30px;
}

::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
    background-color: white !important;
}

::ng-deep .mat-select-arrow {
    color: white;
}

::ng-deep .mat-select-value-text {
    color: white;
}

:host /deep/ .mat-slide-toggle .mat-slide-toggle-bar {
    background-color: #060529;
}

:host /deep/ .mat-slide-toggle .mat-slide-toggle-thumb {
    background-color: #B10606;
}

/* width */

::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 8px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #B10606;
    border-radius: 8px;
}