<div class="app">
    <div class="header">
        <div class="title">
            <span class="name">Universo Netflix</span>
        </div>
        <div class="options">
            <h2>peliculas</h2>
            <h2>series</h2>
        </div>
    </div>

    <div class="body">

        <div class="sidebar">
            <div class="top-menu">

                <div class="menu-title">
                    <H1>Opciones</H1>
                </div>
                <mat-form-field appearence="outline">
                    <mat-label class="label">Categoria</mat-label>
                    <mat-select>
                        <mat-option value='pruba1'>
                            pruba1
                        </mat-option>
                        <mat-option value='pruba3'>
                            pruba3
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearence="outline">
                    <mat-label class="label">Pais</mat-label>
                    <mat-select>
                        <mat-option value='pruba1'>
                            pruba1
                        </mat-option>
                        <mat-option value='pruba3'>
                            pruba3
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-button class="button">Generar</button>

            </div>
            <div class="above-menu">

                <div class="menu-title">
                    <H1>Opciones</H1>
                </div>
                <div>
                    <mat-accordion class="form">
                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Fechas
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <form>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Fecha inicio</mat-label>
                                    <input matInput type="number">
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Fecha final</mat-label>
                                    <input matInput type="hide">
                                </mat-form-field>
                            </form>

                        </mat-expansion-panel>


                    </mat-accordion>
                </div>



                <mat-form-field appearence="outline">
                    <mat-label class="label">Duración</mat-label>
                    <mat-select>
                        <mat-option value='pruba1'>
                            pruba1
                        </mat-option>
                        <mat-option value='pruba3'>
                            pruba3
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearence="outline">
                    <mat-label class="label">Director</mat-label>
                    <mat-select>
                        <mat-option value='pruba1'>
                            pruba1
                        </mat-option>
                        <mat-option value='pruba3'>
                            pruba3
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-button class="button">Generar</button>

            </div>




        </div>

        <div class="main">
            <h1>asajdasdjkasjdlajdlajdlasjdlas</h1>

        </div>
    </div>
    </div>
    
    