<div class="app">
    <div class="header">
        <div class="title" (click)="onPrincipal()">
            <h1 class="titulo">Universo Netflix</h1>
        </div>
        <div class="options">
            <button mat-button [ngClass]="ButtonType ? 'typeSelected' : 'typeUnSelected' "
                (click)="onPelicula()">Peliculas</button>
            <button mat-button [ngClass]="!ButtonType ? 'typeSelected' : 'typeUnSelected'"
                (click)="onSerie()">Series</button>

        </div>
    </div>

    <div class="body">
        <div class="sidebar">
            <div class="top-menu" [@enterAnimation]>
                <div class="menu-title">
                    <span class="label">Opciones</span>
                </div>
                <div class="div-form">
                    <form [formGroup]="opcionesFormGroup">
                        <mat-form-field class="form-field" appearence="outline">
                            <mat-label class="label">Pais</mat-label>
                            <mat-select formControlName="pais">
                                <mat-option *ngFor='let pais of paises' [value]='pais.pais'>{{pais.pais}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="form-field" appearence="outline" *ngIf="!grafo">
                            <mat-label class="label">Categoria</mat-label>
                            <mat-select formControlName="categoria">
                                <mat-option *ngFor="let categoria of categorias" [value]='categoria.categoria'>
                                    {{categoria.categoria}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                </div>
                <div class="div-button">
                    <button mat-button class="button" (click)="onGenerate()">Generar</button>
                </div>
            </div>
            <div class="above-menu" *ngIf="!grafo" [@enterAnimation]>
                <div class="menu-title">
                    <span class="label">Filtros</span>
                </div>
                <div class="div-form">
                    <form [formGroup]="filtrosFormGroup">
                        <mat-accordion class="form">
                            <mat-expansion-panel class="mat-elevation-z0 expansion" hideToggle>
                                <mat-expansion-panel-header class="expansion">
                                    <mat-panel-title class="label"> Fechas </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-form-field class="expansion">
                                    <mat-label class="label">Año inicio</mat-label>
                                    <input matInput formControlName="fechainicio" type="number">
                                </mat-form-field>
                                <mat-form-field class="expansion">
                                    <mat-label class="label">Año final</mat-label>
                                    <input matInput formControlName="fechafinal" type="number">
                                </mat-form-field>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-form-field class="form-field" appearence="outline" *ngIf="status">
                            <mat-label class="label">Duración</mat-label>
                            <mat-select formControlName="duracion">
                                <mat-option *ngFor="let duracion of duraciones" [value]='duracion'>{{duracion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="form-field" appearence="outline" *ngIf="!status">
                            <mat-label class="label">Temporadas</mat-label>
                            <mat-select formControlName="temporada">
                                <mat-option *ngFor="let temporada of temporadas" [value]='temporada'>{{temporada}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="form-field" appearence="outline">
                            <mat-label class="label">Actor</mat-label>
                            <input matInput formControlName="actor" type="text">
                        </mat-form-field>
                    </form>
                </div>
                <div class="div-button">
                    <button mat-button class="button" (click)="onFilter()">Filtrar</button>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main-header">
                <span class="menu-title-g">{{titulo}}</span>
                <div class="toggle">
                    <span class="label-toggle">Graficos</span>
                    <mat-slide-toggle (change)="toggle($event)"></mat-slide-toggle>
                    <span class="label-toggle">Grafos</span>
                </div>
            </div>
            <div class="graph" *ngIf="grafo" [@enterAnimationx]>
                <div echarts [options]="options | async" class="demo-chart"></div>
                <div echarts [options]="options1 | async" [merge]='true' class="demo-chart"></div>
            </div>
            <div class="chart" *ngIf="!grafo" [@enterAnimationx]>
                <div class="charts">
                    <div class="single-chart">
                        <h1 class="chart-title">{{tituloG1}}</h1>
                        <ngx-charts-bar-vertical [scheme]="colorScheme" [view]="view" [results]="categories"
                            [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel"
                            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                            [showDataLabel]="showDataLabel" class="grafico" (select)="titlesYear($event)">
                        </ngx-charts-bar-vertical>
                    </div>

                    <div class="single-chart">
                        <h1 class="chart-title">{{tituloG2}}</h1>
                        <ngx-charts-number-card [scheme]="colorScheme" [view]="view" [results]="ratings" class="grafico"
                            (select)="titlesClasification($event)">
                        </ngx-charts-number-card>
                    </div>
                </div>

                <div class="chart-filters">
                    <h1>Filtrado por:</h1>

                    <div class="filtros" *ngIf="showDuracion">
                        {{filtroDuracion}}
                        <div class="delete" (click)='deleteFilter(1)'>
                            <img class="delete-img" src="assets/img/delete.png">
                        </div>
                    </div>

                    <div class="filtros" *ngIf="showFechas">
                        {{filtroFechas}}
                        <div class="delete" (click)='deleteFilter(2)'>
                            <img class="delete-img" src="assets/img/delete.png">
                        </div>
                    </div>

                    <div class="filtros" *ngIf="showActor">
                        {{filtroActor}}
                        <div class="delete" (click)='deleteFilter(3)'>
                            <img class="delete-img" src="assets/img/delete.png">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>