<div class="app">
    <div class="header">
        <div class="title">
            <ngx-arc-text class="name" [text]="text" #letters>
            </ngx-arc-text>
        </div>
        <div class="options">
            <button mat-button class="options-title">Peliculas</button>
            <button mat-button class="options-title">Series</button>
            <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle class="options-title" value="Peliculas">Peliculas</mat-button-toggle>
                <mat-button-toggle class="options-title" value="Series">Series</mat-button-toggle>
            </mat-button-toggle-group> -->
        </div>
    </div>

    <div class="body">

        <div class="sidebar">
            <div class="top-menu">

                <div class="menu-title">
                    <H1>Opciones</H1>
                </div>
                <mat-form-field appearence="outline">
                    <mat-label class="label">Categoria</mat-label>
                    <mat-select>
                        <mat-option value='pruba1'>
                            pruba1
                        </mat-option>
                        <mat-option value='pruba3'>
                            pruba3
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearence="outline">
                    <mat-label class="label">Pais</mat-label>
                    <mat-select>
                        <mat-option value='pruba1'>
                            pruba1
                        </mat-option>
                        <mat-option value='pruba3'>
                            pruba3
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button class="button">Generar</button>

            </div>
            <div class="above-menu" *ngIf="grafo">
                <div class="menu-title">
                    <H1>Filtros</H1>
                </div>
                <div>
                    <mat-accordion class="form">
                        <mat-expansion-panel class="mat-elevation-z0 expansion" hideToggle>
                            <mat-expansion-panel-header class="expansion">
                                <mat-panel-title class="label"> Fechas </mat-panel-title>
                            </mat-expansion-panel-header>
                            <form>
                                <mat-form-field class="expansion">
                                    <mat-label class="label">Fecha inicio</mat-label>
                                    <input matInput type="number">
                                </mat-form-field>

                                <mat-form-field class="expansion">
                                    <mat-label class="label">Fecha final</mat-label>
                                    <input matInput type="hide">
                                </mat-form-field>
                            </form>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <mat-form-field appearence="outline">
                    <mat-label class="label">Duración</mat-label>
                    <mat-select>
                        <mat-option value='pruba1'>
                            pruba1
                        </mat-option>
                        <mat-option value='pruba3'>
                            pruba3
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearence="outline">
                    <mat-label class="label">Director</mat-label>
                    <mat-select>
                        <mat-option value='pruba1'>
                            pruba1
                        </mat-option>
                        <mat-option value='pruba3'>
                            pruba3
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button class="button">Filtrar</button>

            </div>




        </div>

        <div class="main">

            <div class="main-header">
                <span class="menu-title-g">{{titulo}}</span>
            </div>

            <div class="graph">

                <!-- <ngx-charts-pie-chart
                [results]="single"
                [legend]="showLegend"
                [legendPosition]="legendPosition"
                [labels]="showLabels"
                [doughnut]="isDoughnut"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)"
                >
              </ngx-charts-pie-chart> -->
              
       
            </div>





        </div>
    </div>
</div>