.app {
    width: 100%;
    height: 100%;
    font-family: 'Bebas Neue';

}

.header {
    background-color: #B10606;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 100px;
    top: 0;
    left: 0;
    position: fixed;
}

.title {
    display: flex;
    height: 100%;
    width: 25%;
}

.name {
    font-size: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.options-title {
    font-size: 25px;
    background-color: #B10606;
}

.body {
    width: 100%;
    height: 100%;
    top: 100px;
    position: fixed;
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: #060529;
    opacity: 80%;
    width: 250px;
    min-width: 250px;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}


.label {
    color: white !important;
}

.button {
    background-color: #B10606;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    width: 100%;

}

.top-menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}


.menu-title {
    color: white;
}

.main {
    color: #060529;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.form {
    background-color: #060529;
}

.menu-title-g {
    color: #060529;
    display: flex;
    font-size: 40px;
}

.main-header {
    display: flex;
    color: #060529;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
}

.div-form{
    display: flex;
    justify-content: center;

}
.div-button{
    display: flex;
    justify-content: center;

}
.graph {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}



.single-chart{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;

}
.form-field {
    margin: 10px;
}

::ng-deep .pie-label {
    font-size: 29px !important;
}


::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
    background-color: white !important;
}

::ng-deep .mat-select-arrow {
    color: white;
}

::ng-deep .mat-select-value-text {
    color: white;
}

/* width */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #B10606;
    border-radius: 10px;
}


