<div class="app">
    <div class="header">
        <div class="title" (click)="onPrincipal()">
            <h1 class="titulo">universo  netflix</h1>
        </div>
        <div class="options">
            <button mat-button class="options-title" (click)="onPelicula()">Películas</button>
            <button mat-button class="options-title" (click)="onSerie()">Series</button>
        </div>
    </div>

    <div class="body">
        <div class="sidebar">
            <div class="top-menu">
                <div class="menu-title">
                    <H1>Opciones</H1>
                </div>
                <div class="div-form">
                    <form [formGroup]="opcionesFormGroup">
                        <mat-form-field class="form-field" appearence="outline">
                            <mat-label class="label">País</mat-label>
                            <mat-select formControlName="pais">
                                <mat-option *ngFor='let pais of paises' [value]='pais'>{{pais.pais}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="form-field" appearence="outline" *ngIf="!grafo">
                            <mat-label class="label">Categoría</mat-label>
                            <mat-select formControlName="categoria">
                                <mat-option *ngFor="let categoria of categorias" [value]='categoria'>
                                    {{categoria.categoria}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                </div>
                <div class="div-button">
                    <button mat-button class="button" (click)="onGenerate()">Generar</button>
                </div>
            </div>




        </div>

        <div class="main">
            <div class="main-header">
                <span class="menu-title-g">{{titulo}}</span>
            </div>
            <div class="graph">
                <div class="single-chart">
                    <h1 class="chart-title">Total de series y películas</h1>

                    <ngx-charts-pie-chart [view]="viewTree" [scheme]="colorScheme" [results]="totaltipos"
                        [gradient]="gradient" [labels]="showLabels" [doughnut]="isDoughnut" (select)="onSelect($event)">
                    </ngx-charts-pie-chart>
                </div>

                <div class="single-chart">
                    <h1 class="chart-title">Cantidad de producciones por categoría</h1>
                    <ngx-charts-tree-map [view]="viewTree" [scheme]="colorScheme1" [results]="totalcategorias"
                        [gradient]="gradient" [animations]="animations" [labelFormatting]="labelFormatting">
                    </ngx-charts-tree-map>

                </div>
                <div class="single-chart">
                    <h1 class="chart-title">Top 20 de países con mayor producción</h1>
                    <ngx-charts-number-card [scheme]="colorScheme" [view]="viewTree" [results]="totalpaises">
                    </ngx-charts-number-card>
                </div>
                <div class="single-chart">
                    <h1 class="chart-title">Cantidad de producciones por año</h1>
                    <ngx-charts-pie-grid [view]="viewNumbers" [scheme]="colorScheme" [results]="totalfechas" [label] class="piegrid">
                    </ngx-charts-pie-grid>

                </div>














            </div>





        </div>
    </div>
</div>